Source: samdump2
Section: admin
Priority: optional
Maintainer: Debian Security Tools Packaging Team <pkg-security-team@lists.alioth.debian.org>
Uploaders: Raphaël Hertzog <hertzog@debian.org>
Build-Depends: debhelper (>= 10), libssl-dev
Standards-Version: 3.9.8
Homepage: http://ophcrack.sourceforge.net/
Vcs-Git: https://anonscm.debian.org/git/pkg-security/samdump2.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-security/samdump2.git

Package: samdump2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: bkhive (<< 3.0.0)
Breaks: bkhive (<< 3.0.0)
Suggests: ophcrack
Description: Dump Windows 2k/NT/XP password hashes
 This tool is designed to dump Windows 2k/NT/XP password hashes from a SAM
 file, using the syskey bootkey from the system hive.
 .
 This package also provides the functionality of bkhive, which recovers the
 syskey bootkey from a Windows NT/2K/XP system hive.
 .
 Syskey is a Windows feature that adds an additional encryption layer to the
 password hashes stored in the SAM database.

Package: bkhive
Section: oldlibs
Priority: extra
Architecture: all
Depends: samdump2 (>= 3.0.0), ${misc:Depends}
Description: transitional dummy package for samdump2
 This is a transitional package to ease upgrades to samdump2.
 It can be safely removed.
